<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visa check</title>
</head>
<body>

<h1>Visa check</h1>
<div>
    <p><b>Usage:</b> <p style="font-family:'Lucida Console', monospace">/visa/&lt;nat&gt;/&lt;dest&gt;</p></p>
    <p>where</p>
    <p>&lt;nat&gt; - your nationality,</p>
    <p>&lt;dest&gt; - your destination.</p>
    <br clear="all" />
    <p><i>Examples:</i></p>
    <p><a href="/visa/IL/IR">/IL/IR</a></p>
    <p><a href="/visa/RU/BY">/RU/BY</a></p>
    <p><a href="/visa/RU/JP">/RU/JP</a></p>
    <p><a href="/visa/NL/JP">/NL/JP</a></p>
</div>

</body>
</html>
